@using <# Project.Namespace#>.Client.Localisation;

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href=""><# Project.Namespace#>.Blazor</a>
		<button title="@CommonLoc.Navigation" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link ps-3" href="" Match="NavLinkMatch.All">
				<span class="material-symbols-sharp me-2">home</span> @CommonLoc.Home
			</NavLink>
		</div>
<#for definition in Definitions.Where(d => !(d.IsArray
	|| d.IsEnumeration 
	|| d.IsOwnedType
	|| d.Name == "User"))
#>		<div class="nav-item px-3">
			<NavLink class="nav-link ps-3" href="<#if definition.Name.ToLower().EndsWith("entry")
#><#cs Write(definition.Name.ToLower()[0..^5] + "entrie")#><#else
#><#cs Write(definition.Name.ToLower())#><#end#>s">
				<span class="material-symbols-sharp me-2">notes</span> @<# definition.Name#>Loc.<#cs Write(definition.Name)#>s
			</NavLink>
		</div>
<#end#>	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
<#cs SetOutputPathAndSkipOtherDefinitions()#>