@using Todo.Client.Localisation;

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Todo.Blazor</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link ps-3" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> @CommonLoc.Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link ps-3" href="notes">
				<span class="oi oi-list-rich" aria-hidden="true"></span> @NoteLoc.Notes
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link ps-3" href="todoitems">
				<span class="oi oi-list-rich" aria-hidden="true"></span> @TodoItemLoc.TodoItems
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
